prefix="@CMAKE_INSTALL_PREFIX@"
libdir="${prefix}/lib/@CMAKE_LIBRARY_ARCHITECTURE@"
includedir="${prefix}/include"

Name: @PROJECT_NAME@
Description: @CMAKE_PROJECT_DESCRIPTION@
Version: @PROJECT_VERSION@
Requires: libjpeg
Cflags: -I${includedir}
Libs: -L${libdir} -l@UHDR_TARGET_NAME@
Libs.private: @CMAKE_THREAD_LIBS_INIT@
